{% if memo %}
<div class="mt-5 pt-5 mx-auto max-w-screen-md sm:text-center">

    <div class="items-center mx-auto mb-3 space-y-4 max-w-screen-sm sm:flex sm:space-y-0">

        <div class="relative w-full flex justify-between">

            <p class="mb-3 font-medium text-xl font-normal text-gray-700 dark:text-gray-400">
                <a target="_blank" href={{minimezed}}>
                    {{minimezed}}
                </a>
            </p>

            <p class="font-medium text-xl text-gray-700 dark:text-gray-400">
                <i id="copy" data-popover-target="popover-copy" onclick="copyTextToClipboard('{{minimezed}}')"
                    class="fa-regular fa-copy ms-5 cursor-pointer"></i>
            </p>

            <div data-popover id="popover-copy" role="tooltip"
                class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-20 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">

                <div class="p-3 space-y-2">
                    <h2 class="font-semibold text-gray-900 dark:text-white">Copy</h2>
                </div>

                <div data-popper-arrow></div>
            </div>

        </div>

    </div>

</div>

<script>

    // set the popover content element
    const $targetEl = document.getElementById('popover-copy');

    // set the element that trigger the popover using hover or click
    const $triggerEl = document.getElementById('copy');

    // options with default values
    const options = {
        placement: 'top',
        triggerType: 'hover',
        offset: 10
    };

    // instance options object
    const instanceOptions = {
        id: 'popover-copy',
        override: true
    };


    new Popover($targetEl, $triggerEl, options, instanceOptions);

    function copyTextToClipboard(text) {
        navigator.clipboard.writeText(text);
    }

</script>
{% endif %}